<div class="span9">
  <%= form_for :arabic_number, :html => {:class => "form-horizontal"} do |f| -%>
    <%= f.text_field :number_value, :placeholder => "Enter your integer" -%>
    <%= f.button "Save", :class => "btn btn-primary" -%>
  <% end %>
</div>

