body {
    background: #8c6cce;
    margin: 15px;
    margin-top: 50px;;
}

.conversion-tool, .conversion-tool * {
    box-sizing: border-box;
    font-family: sans-serif;
}

.conversion-tool {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.conversion-tool__logo-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.25);
}

.conversion-tool__logo {
    display: block;
    max-width: 125px;
    margin: 0 auto;
}

.conversion-tool__content {
    padding: 30px;
    background: #e7e0f5;
}

.conversion-tool__header {
    margin-bottom: 15px;
    text-align: center;
    color: #6d47ce;
    font-weight: bold;
    font-size: 0.9em;
}

.conversion-tool__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.conversion-tool__input:focus {
    border-color: #8c6cce;
}

.conversion-tool__input::placeholder{
    color: #aaaaaa;
}

.conversion-tool__output {
    padding: 10px;
    color: #6944c4;
    font-weight: bold;
    width: 100%;
    border: none;
    outline: none;
    border: 5px;
    cursor: pointer;
}