body{
    background: #9db8af;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.main{
    background: white;
    margin: 0px auto;
    margin-top: 100px;
    border: 1px solid white;
    width: 800px;
    height: 250px;
    padding: 20px;
}
h1{
    margin: 20px;
}
#outcome{
    display: inline-block;
    margin: 20px;
    width: auto;
}
.theform{
    display: inline-block;
    margin: 20px;
    width: 300px;
    float: left;
}
.btn{
    color: white;
    background: #9db8af;
}
input{
    background: #e7eeec;
    border: 0px;
    padding: 5px;
    margin-right: 10px;
    width: 100px;
}
#final{
    background: #e7eeec;
    width: 300px;
    min-height: 30px;
    height: auto;
    padding: 5px;
}