.converted-input-display-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.num-key-container{
    cursor: pointer;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    padding: 10px;
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);
    -moz-box-shadow: 0 0 10px rgb(0,0,0);
}

.input{
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
    text-align: center;
}
.input :focus{
    border-radius: 10px;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
