body {
  margin: 0;
  font-family: -apple-system,  'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:lightgreen
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

h1{
  margin-top:20vh;
}
.center{
  display: flex;
  justify-content: center;
  text-align: center;
}
.darkBG{
  background-color: darkgreen;
  color: white;
}
.inputField, button, .outputBox{
  font-size: calc(1.5vw + 2vh);
}
.inputField{
  width: 30%;
}
.outputBox{
  border-radius: 20px;
  margin: 2vh;
  background-color: rgba(100, 255,100, 0.8);
  color:red
}
.hidden{
  display: none;
}
.visible{
  display: flex;
}